body{
    background-image: url("static/img/antecedentes-medicos-dentista-diseno-diente-3d_1017-26095.avif"); 
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
header{
    display: flex;
    justify-content: center;
}
nav{
    padding-left: 10px;
    padding-bottom: 5px;
}
#btnCobrar{
    margin-bottom: 10px;
}
.dropdown{
    padding-left: 10px;
}
footer{
    align-content: end;
    padding: 30px;
    padding-bottom: 100%;
    color: #cfdef3;
    background-color: black;
}
td.Accion{
    display: flex;
    flex-direction: row; 
     gap: 8px; 
}
button{
  
    background-color: hsl(216, 52%, 49%);
    border-radius: 6px;
    color: rgb(255, 255, 255);
}
.volver{
    background-color: hsl(216, 91%, 47%);;
}
#btnFinalizar{
    background-color:hsl(216, 91%, 47%);
}
a{
    padding-right: 10px;
    
    padding: 4px;
    text-decoration: none;
    background-color: hsl(130, 55%, 45%);
    border-radius: 6px;
    color: rgb(255, 255, 255);
}
.container{
    border-radius: 10px;
    background-color: rgb(212, 227, 255); 
    margin-bottom: 20px;
}
#btnCierre{
    background-color: #e04949;
}
#formCobro{
    margin-bottom: 20px;
}
#form{
    margin-bottom: 20px;
}
.caja_form{
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(239, 244, 252);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.form-label{
    margin-top: 20px;
    margin-left: 20px;
}